DATABASEDATABASE = "mongodb+srv://username:password@cluster0.2sdqsfe.mongodb.net/tour-management"

JWT_SECRET = "CHUOINGAUNHIENCHUOINGAUNHIEN"

EMAIL_USER = "levanalevana@gmail.com" # Email của mật khẩu ứng dụng

APP_PASSWORD = "mật khẩu ứng dụng" # Mật khẩu ứng dụng

EMAIL_SECURE = "false" # Use false if http, true if https (online)

CLOUDINARY_NAME = ""

CLOUDINARY_API_KEY = ""

CLOUDINARY_API_SECRET = ""